<div class="content col-6 offset-3">
  <div class="content-header">
    <h2>Benefícios</h2>
  </div>
  <div class="content-body">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-icon matListIcon class="icon-list">code</mat-icon>
        <strong
          >Modularização e componentização da aplicação</strong
        ></mat-list-item
      >
      <mat-list-item role="listitem">
        <mat-icon matListIcon class="icon-list">code</mat-icon>
        Angular CLI</mat-list-item
      >
      <mat-list-item role="listitem">
        <mat-icon matListIcon class="icon-list">code</mat-icon>
        Antecipação da captura de erros, uma vez que é gerado o build da
        aplicação</mat-list-item
      >
      <mat-list-item role="listitem">
        <mat-icon matListIcon class="icon-list">code</mat-icon>
        Bibliotecas de componentes</mat-list-item
      >
      <mat-list-item role="listitem">
        <mat-icon matListIcon class="icon-list">code</mat-icon>
        Proteção de rotas</mat-list-item
      >
      <mat-list-item role="listitem">
        <mat-icon matListIcon class="icon-list">code</mat-icon>
        Internacionalização</mat-list-item
      >
      <mat-list-item role="listitem">
        <mat-icon matListIcon class="icon-list">code</mat-icon>
        Injeção de dependência</mat-list-item
      >
      <mat-list-item role="listitem">
        <mat-icon matListIcon class="icon-list">code</mat-icon>
        Programação reativa (Observables, RxJS, Redux)</mat-list-item
      >
    </mat-list>
  </div>
</div>
