<div class="content col-8 offset-2">
  <div class="content-header">
    <h2>Conceitos</h2>
  </div>
  <div class="content-body">
    <mat-tab-group mat-align-tabs="center" dynamicHeight="true">
      <mat-tab label="Modules">
        <mat-list role="list">
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            Decorator @NgModule()</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            AppModule é o root module</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            É sugerido que a aplicação seja modularizada</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            Módulos podem ser contextos, fluxos, ou um grupo de
            componentes que possuem muita coisa em comum</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            Funcionalidades podem ser compartilhadas entre módulos</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            Lazy-loading</mat-list-item
          >
        </mat-list>
      </mat-tab>
      <mat-tab label="Components">
        <mat-list role="list">
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            Decorator @Component()</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            O AppComponent é o root component</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            Template (HTML)</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            Style (CSS, SCSS, Sass, Less)</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            Class (TypeScript)</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            Two-way-data biding</mat-list-item
          >
        </mat-list>
      </mat-tab>
      <mat-tab label="Services / Injeção de dependência">
        <mat-list role="list">
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            Decorator @Injectable()</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            Os components utilizam os Services através
            de Injeção de Dependência</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            Lógica de negócio</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            Requisições http</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            Scopos de Injeção de Depedência</mat-list-item
          >
        </mat-list>
        <app-users></app-users>
      </mat-tab>
      <mat-tab label="Rotas">
        <mat-list role="list">
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            Gerenciamento das rotas e exibição dos componentes</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            Carregamento de módulos lazy-loading</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            Logs de navegação entre rotas</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            Proteção de rotas</mat-list-item
          >
        </mat-list>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
