<div class="content col-6 offset-3">
  <div class="content-header">
    <h2>Conceitos</h2>
  </div>
  <div class="content-body">
    <mat-tab-group mat-align-tabs="center" dynamicHeight="true">
      <mat-tab label="Modules">
        <mat-list role="list">
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            Decorator @NgModule()</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            No Angular é possível dividir a sua aplicação em
            módulos. Esses módulos podem ser contextos, fluxos, ou um grupo de
            componentes que possuem muita coisa em comum</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            Por padrão, uma aplicação tem pelo menos um módulo, que é o
            AppModule</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            Funcionalidades podem ser compartilhadas entre módulos</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            O framework oferece uma implementação de lazy-loading, onde você
            define quais módulos serão carregados no start da aplicação e quais
            devem ser carregados "on demand", melhorando bastante a performance</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            É altamente recomendável que uma aplicação complexa seja dividida em
            módulos</mat-list-item
          >
        </mat-list>
      </mat-tab>
      <mat-tab label="Components">
        <mat-list role="list">
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            Decorator @Component()</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            Assim como os módulos, cada aplicação Angular tem pelo menos um
            componente, que é o AppComponent</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            O AppComponent é o "root component" da aplicação, ou seja, está no
            topo da hierarquia dos componentes</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            Template (HTML)</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            Style (CSS, SCSS, Sass, Less, Stylus)</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            Class (TypeScript)</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            Suporte à two-way-data biding</mat-list-item
          >
        </mat-list>
      </mat-tab>
      <mat-tab label="Services / Injeção de dependência">
        <mat-list role="list">
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            Decorator @Injectable()</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            Uma classe que pode ser compartilhada entre
            componentes</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            A dependência dos Components para os Services é implementada através
            de Injeção de Dependência</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            É altamente recomendável que toda a lógica de négocio, chamada à
            APIs, etc fiquem nos Services, uma vez que o seu Component ficaria
            responsável apenas pela interface, possibilitando facilmente a sua
            substituição</mat-list-item
          >
        </mat-list>
        <app-users></app-users>
      </mat-tab>
      <mat-tab label="Rotas">
        <mat-list role="list">
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            O framework oferece um módulo Router que é responsável pelo
            gerenciamento das rotas</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            Permite você definir rotas para a navegação entre
            componentes</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            O Router intercepta as solicitações de URLs e gerencia a exibição
            dos componentes</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            Se uma determinada rota precisa de um módulo que ainda não foi
            carregado, o Router pede o carregamento desse módulo através do
            lazy-loading</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            O Router também grava os logs de navegação no browser, portanto os
            botões de "Voltar" e "Avançar" continua funcionando normalmente,
            mesmo sem o recarregamento da página</mat-list-item
          >
          <mat-list-item role="listitem">
            <mat-icon matListIcon class="icon-list">code</mat-icon>
            É possível definir regras de navegação para cada rota, dando a
            possibilidade para proteção de rotas por exemplo</mat-list-item
          >
        </mat-list>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
