<div class="content col-6 offset-3">
  <div class="content-header">
    <h2>Introdução</h2>
  </div>
  <div class="content-body">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-icon matListIcon class="icon-list">code</mat-icon>
        Framework para desenvolvimento de Single Page Application (SPA)
        utilizando HTML e Typescript</mat-list-item
      >
      <mat-list-item role="listitem">
        <mat-icon matListIcon class="icon-list">code</mat-icon>
        npm e node</mat-list-item
      >
      <mat-list-item role="listitem">
        <mat-icon matListIcon class="icon-list">code</mat-icon>
        Utiliza o Typescript, uma linguagem compilada e fortemente tipada</mat-list-item
      >
      <mat-list-item role="listitem">
        <mat-icon matListIcon class="icon-list">code</mat-icon>
        Navegadores não conseguem interpretar o TypeScript, por isso ele é transpilado para JavaScript durante o processo de build</mat-list-item
      >
    </mat-list>
  </div>
</div>
