<div class="content col-6 offset-3">
  <div class="content-header">
    <h2>Introdução</h2>
  </div>
  <div class="content-body">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-icon matListIcon class="icon-list">code</mat-icon>
        Framework para desenvolvimento de Single Page Application (SPA)
        utilizando HTML e Typescript</mat-list-item
      >
      <mat-list-item role="listitem">
        <mat-icon matListIcon class="icon-list">code</mat-icon>
        Instalado através do npm</mat-list-item
      >
      <mat-list-item role="listitem">
        <mat-icon matListIcon class="icon-list">code</mat-icon>
        Typescript é uma linguagem compilada e com tipos previamente definidos</mat-list-item
      >
      <mat-list-item role="listitem">
        <mat-icon matListIcon class="icon-list">code</mat-icon>
        Navegadores não conseguem interpretar o TypeScript</mat-list-item
      >
    </mat-list>
  </div>
</div>
