<div class="content col-6 offset-3">
  <div class="content-header">
    <h2>Extras</h2>
  </div>
  <div class="content-body">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-icon matListIcon class="icon-list">code</mat-icon>
        <a href="https://ngrx.io/" target="_blank"
          >Redux - ngRx</a
        ></mat-list-item
      >
      <mat-list-item role="listitem">
        <mat-icon matListIcon class="icon-list">code</mat-icon>
        <a
          href="https://github.com/Microsoft/vscode-typescript-tslint-plugin"
          target="_blank"
          >TSLint</a
        ></mat-list-item
      >
      <mat-list-item role="listitem">
        <mat-icon matListIcon class="icon-list">code</mat-icon>
        <a href="https://material.angular.io/" target="_blank"
          >Angular Material</a
        ></mat-list-item
      >
      <mat-list-item role="listitem">
        <mat-icon matListIcon class="icon-list">code</mat-icon>
        <a href="https://www.primefaces.org/primeng/#/" target="_blank"
          >PrimeNG</a
        ></mat-list-item
      >
      <mat-list-item role="listitem">
        <mat-icon matListIcon class="icon-list">code</mat-icon>
        <a href="https://ng-bootstrap.github.io/#/home" target="_blank"
          >NgBootstrap</a
        ></mat-list-item
      >
      <mat-list-item role="listitem">
        <mat-icon matListIcon class="icon-list">code</mat-icon>
        <a href="https://angular.io/resources" target="_blank"
          >Angular Resources</a
        ></mat-list-item
      >
      <mat-list-item role="listitem">
        <mat-icon matListIcon class="icon-list">code</mat-icon>
        <a href="https://www.nativescript.org/" target="_blank"
          >NativeScript</a
        ></mat-list-item
      >
    </mat-list>
  </div>
</div>
